@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Rancho&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.comic-neue-light {
  font-family: "Comic Neue", serif;
  font-weight: 300;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", serif;
  font-weight: 700;
  font-style: normal;
}

.comic-neue-light-italic {
  font-family: "Comic Neue", serif;
  font-weight: 300;
  font-style: italic;
}

.comic-neue-regular-italic {
  font-family: "Comic Neue", serif;
  font-weight: 400;
  font-style: italic;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", serif;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "F37";
  src: url("/assets/fonts/f37-judge/F37Judge-Regular.woff2") format("woff2"),
    url("/assets/fonts/f37-judge/F37Judge-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "F37";
  src: url("/assets/fonts/f37-judge/F37Judge-Medium.woff2") format("woff2"),
    url("/assets/fonts/f37-judge/F37Judge-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "F37";
  src: url("/assets/fonts/f37-judge/F37Judge-Bold.woff2") format("woff2"),
    url("/assets/fonts/f37-judge/F37Judge-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "F37";
  src: url("/assets/fonts/f37-judge/F37Judge-Italic.woff2") format("woff2"),
    url("/assets/fonts/f37-judge/F37Judge-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "F37";
  src: url("/assets/fonts/f37-judge/F37Judge-BoldItalic.woff2") format("woff2"),
    url("/assets/fonts/f37-judge/F37Judge-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@layer base {
  :root {
    --background: 180 20% 94%; /* #eef3f3 */
    --foreground: 121 5% 7%; /* #121315 */
    --card: 180 20% 94%; /* #eef3f3 */
    --card-foreground: 121 5% 7%; /* #121315 */
    --popover: 180 20% 94%; /* #eef3f3 */
    --popover-foreground: 121 5% 7%; /* #121315 */
    --primary: 0 100% 46%; /* #eb0000 */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 0 0% 69%; /* #b0b1b4 */
    --secondary-foreground: 0 0% 0%; /* Black */
    --muted: 180 20% 90%; /* #e0eeee */
    --muted-foreground: 121 5% 7%; /* #121315 */
    --accent: 0 0% 97%; /* #f7fefe */
    --accent-foreground: 121 5% 7%; /* #121315 */
    --destructive: 0 100% 46%; /* #eb0000 */
    --destructive-foreground: 0 0% 100%; /* White */
    --border: 0 0% 69%; /* #b0b1b4 */
    --input: 0 0% 69%; /* #b0b1b4 */
    --ring: 0 100% 46%; /* #eb0000 */
    --radius: 0.3rem;
  }

  .dark {
    --background: 121 5% 7%; /* #121315 */
    --foreground: 180 20% 94%; /* #eef3f3 */
    --card: 121 5% 7%; /* #121315 */
    --card-foreground: 180 20% 94%; /* #eef3f3 */
    --popover: 121 5% 7%; /* #121315 */
    --popover-foreground: 180 20% 94%; /* #eef3f3 */
    --primary: 0 100% 46%; /* #eb0000 */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 0 0% 69%; /* #b0b1b4 */
    --secondary-foreground: 0 0% 0%; /* Black */
    --muted: 180 20% 90%; /* #e0eeee */
    --muted-foreground: 180 20% 94%; /* #eef3f3 */
    --accent: 0 0% 97%; /* #f7fefe */
    --accent-foreground: 121 5% 7%; /* #121315 */
    --destructive: 0 100% 46%; /* #eb0000 */
    --destructive-foreground: 0 0% 100%; /* White */
    --border: 0 0% 69%; /* #b0b1b4 */
    --input: 0 0% 69%; /* #b0b1b4 */
    --ring: 0 100% 46%; /* #eb0000 */
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "F37", Arial, Helvetica, sans-serif;
  }
}

body {
  cursor: url("https://res.cloudinary.com/df3xsosfu/image/upload/w_32,h_32/v1740242872/ic-cursor-default_dahqpv.png"),
    auto;
}

a,
button,
.hover-effect {
  cursor: url("https://res.cloudinary.com/df3xsosfu/image/upload/w_32,h_32/v1740242872/ic-cursor-pointer_pawgsq.png"),
    pointer;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loader {
  background-image: url("/assets/loading-background.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.74);
}
